{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <!-- Hero Section -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
                <!-- Add the 'text-center' class here to center the title -->
                <div class="col-md-12 px-0 text-center">
                    <h1 class="display-4 fst-italic">Welcome to Autonimo Andalucia</h1>
                    <p class="lead my-3">A site for Self-Employed people in the Costa Del Sol to list their services and for people to find the services they need.</p>
                    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Register</a> above and view the work posts via the Home button.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Form Section -->
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Add a Job Listing</h5>
                    <p class="card-text">If you would like to add a job listing, please send admin a message via the form below.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ collaborate_form | crispy }}
                        <button class="btn btn-secondary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
