{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <!-- Title goes here -->
            <h2>Welcome to Autonimo Andalucia</h2>
            <!-- Description goes here -->
            <p>This is a site for self employed workers in Andalucia as well as people searching out various types of workers to do jobs. If this is your first time visiting, please take a moment to register your username in the Register tab above. You will then have the access needed to interact with the job postings in the Home Page. 
                <p>If you see a job listing you would like to take on, please leave your details in the Comment box of the form.</p>
                <p>If you would like to add a job listing, please send the details to the admin via the textbox below.</p>
            <!-- Updated on field goes here -->
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock content %}
