{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if post.category == 'transportation' %}
                    <img src="{% static 'images/default_transportation.jpeg' %}" class="scale" alt="placeholder">
                {% elif post.category == 'land_management' %}
                    <img src="{% static '/images/default_land_managment.jpeg' %}" class="scale" alt="placeholder">
                {% elif post.category == 'swimming_pool_management' %}
                    <img src="{% static 'images/default_swimming_pool.jpeg' %}" class="scale" alt="placeholder">
                {% elif post.category == 'handyman' %}
                    <img src="{% static 'images/default_handyman.jpeg' %}" class="scale" alt="placeholder">
                {% else %}
                    <!-- You can specify a default image here if no matching category is found -->
                    <img src="{% static 'images/default_image.jpeg' %}" class="scale" alt="placeholder">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
